@import url('http://fonts.googleapis.com/css?family=Mukta');

:root{}

body {
    margin: 0px;
    padding: 30px;
    font-family: "Mukta";
    overflow: hidden;
    background-color: wheat;
    background-image: url("./src/ditto3.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

/* .bg-img{
    position: relative;
    width: 100%;
    /*height: 100vh;
    background-position: center;
    background-image: url(./src/background.jpg);
    background-size: cover;
} */

.context {
    float: left;
    text-align: center;
}


canvas {
    margin-right: 120px;
    margin-left: 20px;
    margin-top: 10px;
    height: 400px;
    float: left;
    text-align: center;
    display: flex;
    box-shadow: -3px 2px 9px 6px black;
    background-color: white;
    background-size: cover;
}

.video{
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
    display: flex;
}

/* .img{
    margin-bottom: 50px;
    width: 200px;
    height: 200px;
    border: 2px solid white;
    background-image: url(/src/Ditto2.png);
    background-position: right bottom;
} */

.tools .bar1{
    width: 120px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    text-align: center;
    margin-right: 20px;
    float: right;
}

.tools .bar2{
    width: 120px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    text-align: center;
    margin-right: 20px;
    float: right;
}



.tools .color-field{
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px solid whitesmoke;
    align-self: center;
    margin: 0 10px;
}

.tools .bar1 .button{
    align-self: center;
    width: 100px;
    height: 40px;
    border: 5px solid white;
    cursor: pointer;
    color: whitesmoke;
    background:slategray;
    font-weight: bold;
    margin: 10px;
}

.tools .bar2 .button{
    align-self: center;
    width: 100px;
    height: 40px;
    border: 5px solid white;
    cursor: pointer;
    color: whitesmoke;
    background:slategray;
    font-weight: bold;
    margin: 10px;
}

.color-picker{
    align-self: center;
    margin: 15px;
    width: 50px;
    height: 50px;
}

.text-edit{
    align-self: center;
    margin: 15px;
}

.pen-range{
    align-self: center;
    margin: 15px;
}

.fileUpload{
    align-self: center;
    margin: 30px;
}

.ditto{
    align-self: center;
    width: 100px;
    height: 40px;
    border: 5px solid white;
    cursor: pointer;
    color: rgb(240, 111, 245);
    background:rgb(240, 111, 245);
    font-weight: bold;
    margin: 10px;
}